@charset "UTF-8";

@keyframes caixinha {
    from{
        width: 300px;
        height: 300px;
        background-color: purple;
        top:0px;
        left: 0px;

    }
    to{
        width: 100px;
        height: 100px;
        background-color: purple;
        border-radius: 50%;
        top:700px;
        left: 700px;
    }
    
}


#caixa{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    animation-name: caixinha;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}