@charset "UTF-8";

#conteudo{
    background: #dcdcdc;
  
    height: 400px;
    display: flex; /*Fica um ao lado do outro*/

    /*
    flex direction: row/row-reverse/column/column-reverse
    */
    /*  flex-direction: row;  */
    
    /*
    flex wrap: 
    wrap: nowrap(Não quebra itens, e sim aperta)
    wrap(Faz a quebra)
    wrap-reverse(Faz a quebra ao contrário)
    */
    /* flex-wrap: wrap; */

    /*justify content
    flex start(de onde começa)
    flex-end(de onde termina)
    center(centralizados)
    space-between(distribui os itens para os inicais e finais ficarem colados)
    space-around(são distribuidos, mas não ficam colados) */
    /*justify-content: space-around; */

    /*align items
    stretch(opção padrão da altura)
    center(ficam centralizados)
    flex-start(ficam colados na parte superior)
    flex-end(ficam colados na parte inferior)
    baseline(alinhamento através da linha superior do texto)
    */
    /* align-items: baseline; */


}

.item{
    /* width: 200px;*/
    height: 100px; 
    margin: 10px;
    background: white;
    border: 1px solid gray;

   /*Define a proporção de espaço ocupado por um item*/
    flex-grow: 0;

    /*Define a proporção de redução de tamanho de item*/
    flex-shrink: 1;

    /* Indica o tamanho inicial do flex item antes da distribuição do espaço restante */
    flex-basis: 100px;

}

/*---- ORDEM DE EXIBIÇÃO ----*/
/* .ordem1{
    order: 1;
}
.ordem2{
    order: 2;
}
.ordem3{
    order: 3;
}
.ordem4{
    order: 4;
}

.ordem{
    order: 0;
} */

.item1{
     /* flex-grow: 1; */  /*Cresce até o final do container*/
     /* flex-shrink: 1; */
    

}

.item2{
     /* flex-grow: 2; */ /*Cresce até o final do container*/
     /* flex-shrink: 2; */

}


.item3{
    /* flex-grow: 3; */ /*Quanto maior o número, mais ele ocupa*/
    /* flex-shrink: 5; */ /*Quanto maior o número menor, é o espaço que ele o ocupa*/
}